* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 1;
    background-color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight:1000;
    color: rgb(28, 27, 27);;
}

.logo span {
    color: rgba(218, 26, 99, 0.623);
}
.logo,a {
    text-decoration: none;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li {
    list-style: none;
    margin-left: 40px;
}

.nav a {
    text-decoration: none;
    color: rgb(28, 27, 27);
    font-weight: 300;
    transition: 0.7s;
}

.nav li a:hover {
    color: gray;
    text-decoration: underline;
}

.hamburger {
 display: none;
}

.bar {
    width: 25px;
    height: 3px;
    display: block;
    background-color: rgb(56, 54, 54);
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style-type: none;

}


.fa-solid {
    margin-left: 10px;
    transition: all 0.5s ease-in-out;
}

.fa-solid:hover {
    color: gray;
}

@media only screen and (max-width:450px) {
    .container {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px)rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px)rotate(-45deg);
    }

    .nav {
        position: fixed;
        top: 70px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        right: -100%;
        transition: 0.5s;
        background-color: azure;
        z-index: 1;
    }

    .nav li {
        margin-top: 15px;
    }

    .nav li a {
        color: gray;
    }

    .nav.active {
        right: 0%;
    }

    .icon {
        margin-left: 50px;
    }

    .logo {
        font-size: 1rem;
    }
}

.popup {
    color: white;
    visibility: hidden;
    padding: 10px;
    width: 40%;
    background-color: brown;
}
.cart {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#lform {
    width: 80%;
    height: 780px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.bill {
    width: 48%;
    height: 630px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.bill label {
    display: flex;
    font-size: 1.5rem;
    color: gray;
    margin-top: 10px;
}

.bill input {
    width: 50%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
}

::placeholder {
    padding-left: 20px;
}

.pay {
    width: 48%;
    height: 700px;
}

.pay p {
    font-size: x-large;
}

.pay img {
    width: 700px;
    height: 100px;
}

.pay label {
    display: flex;
    font-size: 1.5rem;
    color: gray;
    margin-top: 10px;
}

.pay input {
    width: 50%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
}

.pay button {
    margin:30px 0px 0px 0px;
    width: 50%;
    height: 40px;
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

@media only screen and (max-width:450px) {

    .cart {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #lform {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .bill {
        width: 100%;
        height: 500px;
    }

    .pay {
        width: 100%;
        height: 730px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .pay img {
        width: 90%;
    }

    .pay button {
        margin: 0%;
        margin-top: 20px;
        width: 50%;
        height: 50px;
    }

    .bill input {
        width: 80%;
    }

    .pay input {
        width: 80%;
    }

    .popup {
        width: 70%;
    }
}

footer {
    width: 100%;
    height: 150px;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    color: gray;
}

#myform {
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Input {
    font-size: larger;
    background-color: red;
    color: white;
    padding: 10px 20px 10px 50px;
    visibility: hidden;
}

input {
    padding: 10px 20px 10px 50px;
}

#myform #btn {
    padding: 10px 20px 10px 50px;
    transform: translateY(0px);
    text-align: center;
}


@media only screen and (max-width:450px) {
    footer {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 10px;
        margin-top: 10px;
        overflow-x: hidden;
    }

    #myform {
        width: 90%;
    }
}

.end {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.en1 {
    width: 700px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.enl1 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: larger;
}

.enl1 a {
    color: gray;
    text-decoration: none;
}
.enl2 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

.en2 {
    width: 700px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

@media only screen and (max-width:450px) {
    .end {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-x: hidden;
    }

    .en2 {
        width: 100%;
        height: 40px;
    }
}


